<html xmlns:th="http://www.thymeleaf.org">
    <title>Transportasi</title>

    <head th:insert="fragment/head.html :: head">
    </head>

    <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>

        <div class="wrapper">
            <nav th:insert="fragment/nav.html :: nav" class="navbar"></nav>
            <aside th:insert="fragment/aside.html :: aside"></aside>

            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">
                                    <b>Transportasi</b><small></small>
                                </h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <span class="pull-right">
                                        <button class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#addTransportasi"><span class="fa fa-plus-circle"></span>Add Action</button>

                                    </span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="content">
                    <div class="container-fluid">
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example display" id="example">
                                    <thead>
                                        <tr>
                                            <th scope="col" hidden>ID</th>
                                            <th scope="col">No.</th>
                                            <th scope="col">Nama Transportasi</th>
<!--                                            <th scope="col">Biaya Transportasi</th>-->
                                            <th scope="col" hidden>Status Transportasi</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="transportasi, status : ${transportasi}">
                                            <td hidden
                                                th:id="'idTransportasiText'+${transportasi.idTransportasi}" 
                                                th:text="${transportasi.idTransportasi}">                                            
                                            </td>
                                            <td th:text="${status.index+1}"></td>

                                            <td 
                                                th:id="'namaTransportasiText'+${transportasi.idTransportasi}" 
                                                th:text="${transportasi.namaTransportasi}">                                            
                                            </td>

<!--                                            <td 
                                                th:id="'biayaTransportasiText'+${transportasi.idTransportasi}" 
                                                th:text="${transportasi.biayaTransportasi}">                                           
                                            </td>-->

                                            <td hidden 
                                                th:id="'statusTransportasiText'+${transportasi.idTransportasi}" 
                                                th:text="${transportasi.statusTransportasi}">                                           
                                            </td>
                                            <td>

                                                <button type="button" class="edit_record btn btn-info btn-sm" th:onclick="|editTransportasi(${transportasi.idTransportasi})|"><span class="fas fa-edit"></span> Edit</button>
                                                <button type="button" class="remove_record btn btn-danger btn-sm" th:onclick="|removeTransportasi(${transportasi.idTransportasi})|"><span class="fas fa-trash"></span> Remove</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <form th:insert="transportasi/v_page_add.html :: form" id="add-row-form" th:action="@{/transportasi/add}" th:object="${addTransportasi}" method="POST"></form>

            <form th:insert="transportasi/v_page_edit.html :: form" id="edit-row-form" th:action="@{/transportasi/edit}" th:object="${editTransportasi}" method="POST"></form>

            <form th:insert="transportasi/v_page_remove.html :: form" id="remove-row-form" th:action="@{/transportasi/edit}" th:object="${removeTransportasi}" method="POST"></form>

            <footer th:insert="fragment/footer.html :: footer"></footer>
        </div>

        <div th:insert="fragment/foot.html :: foot"></div>
        <script src="js/helper/transportasi.js"></script>

    </body>

</html>